//OVERRIDE DEFAULT BS VARIABLES

$primary: #ffffff;
$secondary: rgba(196, 196, 196, 0.2);
$danger: #D40F34;
$info: rgba(0, 0, 0, 0.25);
$component-active-color: $danger;
$form-check-input-checked-border-color:   $danger;
$form-check-input-checked-color: $component-active-color;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'><rect x='7' y='7' width='14' height='14' stroke='#{$form-check-input-checked-color}' fill='#{$form-check-input-checked-color}' stroke-width='3'/></svg>");
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='4' fill='#{$form-check-input-checked-color}'/></svg>");
$form-check-input-border-radius: 0rem;



$font-size-base:              1rem !default;

$h1-font-size:                $font-size-base * 3.125;
$h2-font-size:                $font-size-base * 1.875;
$h3-font-size:                $font-size-base * 1.25;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import '../node_modules/bootstrap/scss/bootstrap';


* {
    font-family: 'Source Sans Pro', sans-serif;
}

//HEADER

header {
    height: 90px;
}

.logo {
    padding-left: 55px;
}

.red {
    padding: 30px 12px;
    margin-bottom: 35px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/CEEC_pozadi1.jpg');
    background-size: cover;
    
    p {
        width: 100px;
        height: 25px;
        margin-bottom: 0;
    }

    h1 {
        margin: 20px 0 0 0;
        line-height: 2.3rem;
    }
}

//FORM
.form-check {
    margin-bottom: 20px;
}

.form-check-input {
    width: 30px;
    height: 30px;
    border: 2px solid $info;
    background-color: transparent; 
}

.form-check-input[type=radio] {

    &:checked, &:focus {
        border: 2px solid $danger;
        box-shadow: 0px 1px 15px $info;
        background-color: $danger;
    }
}

.form-check-input[type=checkbox] {

    &:checked, &:focus {
        border: 2px solid $info;
        background-color: transparent;
    }
}

.form-check-label {
    height: 100%;
    line-height: 36px;
    padding-left: 13px;
}

form {
    h2 {
        font-family: 'Space Grotesk', sans-serif;
        color: $danger;
        margin: 80px 0 40px 0;
    }

    p {
        font-size: 1.25rem;
        margin-bottom: 72px;
    }
}

#custom-border {
    border-bottom: 1px solid $info;
    margin-bottom: 0px;
}

.row > fieldset {  
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: $secondary;
    padding: 24px;
    margin-bottom: 35px;

    & > p {
    font-size: 0.937rem;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 30px;
    }
}

.submit-button {
    width: 125px;
    height: 45px;
    border: none;
    color: $danger;
    font-size: 0.875rem;
    background-color: $secondary;

    &:hover {
        background-color: darken($color: $secondary, $amount: 30%);
    }
}

//FONT STYLING
legend {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 50px;
}

input + label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.06rem;
}

input[type=number] + label {
    font-size: 1.25rem;
}

input[type=number], input[type=text] {
    width: 85px;
    height: 45px;
    margin-right: 12px;
    background-color: rgba(196, 196, 196, 0.5);
    border: none;
    color: black;
    font-size: 1.25rem;
    text-align: center;
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

//MEDIA QUERIES

@include media-breakpoint-up(sm) { 
    .row > fieldset {  
        padding: 30px;
    }

    .red {
        padding: 40px 12px;
        margin-bottom: 75px;

        h1 {
            margin: 27px 0 0 0;
            line-height: 2.5rem;
        }
    }
}

@include media-breakpoint-up(md) { 
    .red {
        padding: 50px 12px;
        margin-bottom: 100px;

        h1 {
            margin: 27px 0 0 0;
            line-height: 3.4rem;
        }
    }

    form {
        h2 {
            margin: 110px 0;
        }
    }
 }

@include media-breakpoint-up(lg) { 
    #custom-border {
        border-bottom: none;
        border-right: 1px solid $info;
        margin-bottom: 35px;
    }
 }

@include media-breakpoint-up(xl) { 
    .row > fieldset {  
        padding: 60px;
    }
 }
